
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,200&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
}


#home{
    display: flex;
    flex-direction: column;
    margin: 90px 25px;
    padding: 6px 25px;
    height: 400px;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

section::before{
    content: "";
    position:absolute;
    width: 100%;
    height: 700px;
    object-fit: cover;
    background: url(img2.jpg) no-repeat center center/cover;
    z-index: -1;
    opacity: 0.63;

}

section .small{
    /* margin: 20px; */
    font-family: 'Shadows Into Light', cursive;
    color: rgba(238, 86, 31, 0.993);
    font-size: 50px;
}
section .x{
    font-family: 'Nunito Sans', sans-serif;
font-family: 'Shadows Into Light', cursive;
color: rgb(19, 19, 226);
font-size: 50px;
}

section .big{
    color: green;
    font-size: 50px;
    font-family: 'Hind Siliguri', sans-serif;
}

